<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-styles/color.html">

<dom-module id="my-about">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment iron-flex-factors">
      :host {
        display: block;
      }
      
      .main-hero {
        background: 
             linear-gradient( rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)),
             url('/images/kwk-main-hero-banner.jpg');
        background-attachment: fixed;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
      }
      
      .main-hero * {
        width: 65%;
        color: white;
      }
      
      h1 {
        font-size: 4.2em;
        margin-bottom: 0.2em;
        letter-spacing: 4px;
      }
      
      h2 {
        font-size: 1.75em;
        margin: 0;
        line-height: 140%;
      }
      
      p {
        font-size: 1.25em;
        line-height: 140%;
        margin: 0;
      }
      
      hr.dark {
        border-bottom: solid .25px black;
        margin: 2em 0;
      }

      .card hr.dark {
        border-bottom: solid .1px #f1f1f1;
        margin: 1em 0;
      }

      hr.light {
        border: solid .25px white;
        margin: 1em 0;
      }
      
      .container {
        min-height: 100vh;
      }
      
      .container * {
        width: 65%;
      }
      
      .about-wrapper p {
        margin-bottom: 1em;
        font-size: 24px;
      }
      
      .hero-button {
        width: 25%;
      }
      
      .hero-button paper-button {
        width: 100%;
      }
      
      paper-button.hero-cta-btn {
        width: 35%;
        margin: 2em 0;
        font-weight: 700;
        letter-spacing: 2px;
      }
      
      paper-button {
        background-color: var(--paper-pinka200);
      }

      .card * {
        width: 100% !important;
      }

      .card .body-sans {
        font-size: 24px;
        color: black;
      }      
      
      paper-button.green {
        background-color: var(--paper-green-700);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }      
    </style>
    <div class="main-hero flex layout vertical center center-justified">
      <h3 class="caption-serif">Our Values</h3>
      <h1 class="heading-serif">Not Your Traditional Law Firm</h1>      
      <h2 class="sub-heading-serif"><em>We represent our clients with diligence, ethics and excellence.</em></h2>
      <div class="layout horizontal start start-justified">
        <paper-button raised class="hero-cta-btn custom green">Contact Us</paper-button>
      </div>
    </div>
    <div class="container about-wrapper flex layout vertical center center-justified">
      <h1 class="heading-serif">About Us</h1>
      <hr cass="dark">
      <p class="body-sans">
        Kodner Watkins, LC is a full service law firm with skill sets encompassing virtually all areas of legal focus, except domestic
        relations, being an area devoid of professional gratification.
      </p>
      <p class="body-sans">
        KW is AV-Rated by Martindale-Hubbell. One of the industries most coveted recognitions. These ratings serve as an objective
        indicator that a lawyer has the highest ethical standards and professional ability. KW has five attorneys who have
        reached the highest level of honor with this prestigious organization.
      </p>
      <p class="body-sans">
        In addition, KW has staff in the Million Dollar Advocates Forum. Membership to this forum is an indication that an attorney
        can and has achieved the best possible result for their client.
      </p>
    </div>
    <div class="container case-wrapper flex layout vertical center center-center">
      <h1 class="heading-serif">Practice Areas</h1>
      <hr cass="dark">
      <div class="card">
        <template class="case-content layout vertical" is="dom-repeat" items="{{practiceAreas}}" as="practice">
          <p class="body-sans">[[practice.name]]</p>
          <hr class="dark">
        </template>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-about',
      properties: {
        practiceAreas: {
          type: Array,
          value: [
            {
              name: 'Personal Injury',
            },
            {
              name: 'Workers\' Compensation',
            },
            {
              name: 'Administrative Law',
            },
            {
              name: 'Alternative Dispute Resolution'
            },
            {
              name: 'Antitrust Law'
            },
            {
              name: 'Art Law'
            },
            {
              name: 'Debt Collection',
            },
            {
              name: 'Civil Rights Litigation',
            },
            {
              name: 'Construction Law',
            },
            {
              name: 'Contracts'
            },
            {
              name: 'Banking'
            },
            {
              name: 'Mortgage Banking'
            },
            {
              name: 'Financial Industry Regulatory',
            },
            {
              name: 'Transactional Law',
            },
            {
              name: 'Corporate Law',
            },
            {
              name: 'State Criminal Defense'
            },
            {
              name: 'Federal Criminal Defense'
            },
            {
              name: 'Privacy, Defamation & Right of Publicity Law'
            },
            {
              name: 'Elder Law'
            },
            {
              name: 'Lending & Financial Services Regulation Law'
            },
            {
              name: 'Intellectual Property',
            },
            {
              name: 'Labor & Employment',
            },
            {
              name: 'Commercial Litigation',
            },
            {
              name: 'Product Liability'
            },
            {
              name: 'Real Estate Law'
            },
            {
              name: 'Securities Arbitration'
            },
            {
              name: 'Trusts & Estates',
            },
            {
              name: 'Traffic',
            },
            {
              name: 'DWI',
            },
            {
              name: 'Municipal Criminal Defense'
            },
            {
              name: 'Defense of Law Enforcement Personnel'
            },
            {
              name: 'Privacy, Defamation & Right of Publicity Law'
            }
          ]
        }
      }
    });
  </script>
</dom-module>