<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-behavior.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-app">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment iron-flex-factors iron-positioning">
      :host {
        --app-primary-color: black;
        --app-secondary-color: black;
        display: block;
      }
      
      .drawer-list {
        height: 10vh;
        background-color: rgba(0, 0, 0, .87);
      }
      
      .drawer-list a {
        padding: 0 16px 0 0;
        text-decoration: none;
        line-height: 40px;
        color: white;
      }
      
      .drawer-list a.iron-selected {
        color: white;
        font-weight: bold;
      }
      
      .nav-item-wrapper {
        width: 80%;
      }

      .app-header {
        position: fixed;
        z-index: 999;
        width: 100%;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>


    <!-- Main content -->
    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list flex layout horizontal center center-justified app-header"
      role="navigation">
      <div class="nav-item-wrapper layout horizontal center center-center">
        <a name="about" href="/about" class="flex-1"><img height="50" src="../images/KW-logo.png"></a>
        <a name="about" href="/about">About</a>
        <a name="cases" href="/cases">Cases</a>
        <a name="press" href="/press">Press</a>
        <a name="attorneys" href="/attorneys">Attorneys</a>
        <a name="contact" href="/contact">Contact</a>
      </div>

    </iron-selector>

    <neon-animated-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main">
      <my-about name="about"></my-about>
      <my-cases name="cases"></my-cases>
      <my-attorneys name="attorneys"></my-attorneys>
      <my-press name="press"></my-press>
      <my-contact name="contact"></my-contact>
      <my-view404 name="view404"></my-view404>
    </neon-animated-pages>
  </template>

  <script>
    Polymer({
      is: 'my-app',
      properties: {
        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged',
        },
      },

      observers: [
        '_routePageChanged(routeData.page)',
      ],

      _routePageChanged: function(page) {
        this.page = page || 'about';        
      },

      _pageChanged: function(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        this.importHref(resolvedPageUrl, null, this._showPage404, true);
      },

      _showPage404: function() {
        this.page = 'view404';
      },
    });
  </script>
</dom-module>