<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-behavior.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<dom-module id="my-attorneys">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment iron-flex-factors iron-positioning">
      :host {
        display: block;
      }
      
      .main-hero {
        background: black;
        color: white;
        height: 50vh;
      }
      
      .main-hero * {
        width: 70%;
        color: white;
      }
      
      .press-feed-wrapper * {
        width: 80%;
      }
      
      h1 {
        font-size: 4.2em;
        margin-bottom: 0.2em;
        letter-spacing: 4px;
      }
      
      h2 {
        font-size: 1.75em;
        margin: 0;
        line-height: 140%;
      }
      
      p {
        font-size: 1.25em;
        line-height: 140%;
        margin: 0;
      }
      
      hr.dark {
        border: solid .25px black;
        margin: 2em 0;
      }
      
      hr.light {
        border: solid .25px white;
        margin: 2em 0;
      }
      
      .container {
        min-height: 100vh;
      }
      
      .container * {
        width: 70%;
      }
      
      .about-wrapper p {
        margin-bottom: 1em;
      }
      
      p {
        margin-bottom: 1em;
      }
      
      .case-wrapper .card {
        width: 28%;
        margin: 1em 0;
      }
    </style>
    <div class="main-hero flex layout vertical center center-justified">
      <h1 class="heading-serif"><strong>Meet Our Team</strong></h1>      
      <h2 class="sub-heading-serif"><em>These people get stuff done.</em></h2>
    </div>
    <div class="container case-wrapper flex layout vertical center center-center">
      <div class="layout horizontal wrap justified start-start">
        <template is="dom-repeat" items="{{attorneyEntries}}" as="attorneyEntry">
          <div class="card">
            <p>[[attorneyEntry.name]]</p>
            <p>[[attorneyEntry.title]]</p>
            <p>[[attorneyEntry.phone]]</p>
            <p>[[attorneyEntry.email]]</p>
            <!--<p>[[attorneyEntry.bio]]</p>-->
          </div>
        </template>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-attorneys',
      behaviors: [
        Polymer.NeonAnimationRunnerBehavior
      ],
      properties: {
        animationConfig: {
          value: function() {
            return {
              'entry':{
                name: 'fade-in-animation',
                node: this,
                timing: {delay: 200}
              },
              'exit':{
                name: 'fade-out-animation',
                node: this,
                timing: {delay: 10}
              }      
            }
          }
        },
        attorneyEntries: {
          type: Array,
          value: [
            {
              name: 'Carl Wattenberg',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'Cwattenberg@kwklaw.net',
              bio: 'Carl Wattenberg, Jr., a Brown University graduate and former general counsel for Mark Twain Bancshares, Inc., is senior “of-counsel” with the firm and a learned voice in litigation strategy and tactics. A man who “takes no prisoners,” Carl is a force.'
              
            },
            {
              name: 'Taylor Olson',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'Tolson@kwklaw.net',
              bio: 'Taylor Olson exploits her strong banking employment history to serve as a vital cog in the firm’s civil litigation department involving a wide array of subject matters, including banking, securities, and mortgage industry disputes. This range of focus also includes regulatory matters and litigation against institutions of higher learning.'
              
            },
            {
              name: 'Elaine Reilly',
              title: 'Finance Director',
              phone: '(314) 727-9111',
              email: 'EReilly@kwklaw.net',
              bio: ''
            },
            {
              name: 'Karen Kroeger',
              title: 'Litigation Paralegal',
              phone: '(314) 727-9111',
              email: 'kkroeger@kwklaw.net',
              bio: ''
            },
            {
              name: 'Terry Liberman',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'tliberman@kwklaw.net',
              bio: 'Mr. Liberman received his law degree from Pepperdine University in 1978 and was admitted to the Missouri bar in 1978. His legal experience has included work in general law, litigation and mass torts. He has also served in a consulting role with client interest ranging from real estate to building and planning to politics and law enforcement. Mr Liberman has extensive experience in mass tort liability cases, including those involving the drugs Fen-Phen, Ephedra, Vioxx, Bextra, and lung cancer asbestos cases including Mesothelioma. In this capacity, he has written, and has seen passed, numerous pieces of legislation in the State of Missouri and the City of St. Louis. In his career, Mr. Liberman has had experience in financial planning, business networking, political affairs, fundraising, business planning and various business consulting activities. He is a member of the Business Advisory Board of Lindenwood University as well as a member and treasurer of the St. Louis chapter of the BMG Investment Association.'
            },
            {
              name: 'Shane Cashion',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'SCashion@kwklaw.net',
              bio: 'Shane Cashion, a former NCAA Division 1 soccer player, heads up the firm’s personal injury and contingency litigation practice.'
            },
            {
              name: 'Loren Ettinger',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'LEttinger@kwklaw.net',
              bio: 'Loren Ettinger is both an attorney and a CPA with a strong background in commercial real estate, banking and securities matters. He combines his areas of expertise to head up the firm’s real estate and business transactional undertakings and plays a vital role in litigation involving financial industry disputes.'
            },
            {
              name: 'Michael Schwade',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'MSchwade@kwklaw.net',
              bio: 'Soft spoken, Michael Schwade compliments the brash demeanor of Al Watkins. Whether co-chairing at trial or addressing conferences in the office, Mr. Schwade rarely seeks the spotlight, but thrives under the pressure it brings. Mr. Schwade received a Bachelor of Arts in English from Truman State University before attending law school at the University of Missouri-Columbia, where he finished in the top 20% of his graduating class. During his time in law school, Mr. Schwade served as a policy intern for the Missouri Coalition Against Domestic and Sexual Violence. The firm was introduced to Michael Schwade when he commenced work as a summer associate following his first year of law school in May 2006. He has been a fixture in the firm’s litigation department since 2008 and has played an integral role in the firm’s representation of its most public cases. Mr. Schwade’s practice encompasses general commercial litigation, trademark protection and enforcement, securities arbitration and corporate governance counseling. Representative Cases on which Mr. Schwade has worked or is working include: The North Face Apparel Corp. v. Williams Pharmacy, et al. (E.D.Mo.) (Defense of local parody apparel producer from trademark infringement and dilution claims brought by one of the nation’s largest apparel conglomerates.) A.B.S. v. Board of Police Commissioners, et al. (E.D.Mo.) (Civil rights action against St. Louis City Police Department to recover damages on behalf of surviving minor child of a man shot to death by police.) The People of Illinois v. Bryan Pour (Madison County, IL) (Criminal defense of former St. Louis City Police Officer charged with Class X felony arising out of an off-duty shooting in Pontoon Beach, IL.) Hartmann Brothers Racing, LLC v. The DeMun Oyster Bar Corp. (St. Louis County, MO) (Representation of local general contractor in litigation to recover unpaid invoices for work performed in building the popular DeMun Oyster Bar.) Giant Trading Co. v. International Fuel Technology, Inc. (E.D.Mo.) (Securities fraud litigation on behalf of prominent investor against fuel additive manufacturer for representations made in support of private placement offering.) Jane Doe v. Quest Diagnostics, Inc. (Madison County, IL) (Defended civil action arising out of alleged disclosure of Plaintiff’s positive STD status.)'
            },
            {
              name: 'Nancy Watkins',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'NWatkins@kwklaw.net',
              bio: 'Nancy Watkins, the sister of the firm’s founder, serves as the firm’s counsel in charge of estate planning, wills and trusts, and litigation arising therefrom.'
            },
            {
              name: 'Sam Wallach',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'SWallach@kwklaw.net',
              bio: 'Sam Wallach is a minutia sensitive member of the firm’s complex litigation team, with emphasis on comprehensive discovery coordination and assemblage for presentment to triers of fact, be they judges or juries.'
            },
            {
              name: 'D. Andrew Weigley',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'AWeigley@kwklaw.net',
              bio: 'D. Andrew Weigley, formerly head of the firm’s long established and storied worker’s compensation department, currently serves as a primary liason for clients across the board who seek immediate access to counsel for input, consultation, case evaluation, case updates and strategies with an eye toward ensuring the firm’s resources are readily and immediately available to both existing clients and prospective potential clients.'
            },
            {
              name: 'Jasmine Whitaker',
              title: 'Assistant',
              phone: '(314) 727-9111',
              email: 'jwhitaker@kwklaw.net',
              bio: ''
            },
            {
              name: 'Connie Casillas',
              title: 'PI Coordinator',
              phone: '(314) 727-9111',
              email: 'CCasillas@kwklaw.net',
              bio: ''
            },
            {
              name: 'Jay Kloecker',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'JKloecker@kwklaw.net',
              bio: 'Joseph B. Kloecker, Jr., in addition to coordinating all pre-suit injury contingency case work-up at the firm, received his undergraduate degree from Princeton University and his law degree from Duke University. Jay also coordinates significant estate planning undertakings in the perpetually fluid world of estate planning in general, and for the gay and lesbian community in particular.'
            },
            {
              name: 'Adam Bathon',
              title: 'Litigation Paralegal/IT',
              phone: '(314) 727-9111',
              email: 'abathon@kwklaw.net',
              bio: ''
            },
            {
              name: 'Robert Seipp',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'RSeipp@kwklaw.net',
              bio: 'Robert Seipp has significant litigation experience and heads up the firm\’s Worker\’s Compensation Department, addressing the needs of those with claims for work related injuries.'
            },
            {
              name: 'Kenneth Brison',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'KBrison@kwklaw.net',
              bio: 'Kenneth Brison, in addition to being a Judge in the City of Bland, Missouri and a Committee member for the Office of the Chief Disciplinary Counsel for the Missouri Bar, Region X, is a senior criminal defense counsel with a focus on defense of the criminally accused in State Court.'
            },
            {
              name: 'Robert Tucker',
              title: 'Litigation Support',
              phone: '(314) 727-9111',
              email: 'RTucker@kwklaw.net',
              bio: ''
            },
            {
              name: 'Mark Kodner',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'MKodner@kwklaw.net',
              bio: 'Mr. Kodner was an active litigator, bank director and community volunteer before he retired from the firm. He remains “of counsel” to the firm and he is still active in the a community.'
            },
            {
              name: 'Anthony Bretz',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'TBretz@kwklaw.net',
              bio: 'Anthony Bretz plays an integral part of the firm’s complex litigation team with an emphasis on federal white collar crime cases and financial industry disputes.'
            },
            {
              name: 'Albert Watkins',
              title: 'Attorney',
              phone: '(314) 727-9111',
              email: 'AlbertSWatkins@kwklaw.net',
              bio: 'Albert S. Watkins, the founding member and senior counsel with the firm is, quite candidly, beyond description. As lead counsel in countless cases garnering both national and international attention, Albert S. Watkins has demonstrated unrelenting trial skills which have rendered witnesses subjected to his cross examination incapable of speaking; caused multinational billion dollar companies and their teams of legal counsel to capitulate; and otherwise garner favorable media attention for even the most disgraced clients. Opposing counsel in the infamous The North Face Apparel Co. v. The South Butt case described the most dangerous place in the world as being the space “between Al Watkins and a microphone.” Self-centered, egotistical, and a self-proclaimed expert in all matters, Watkins is unabashed about bringing to the public eye the irreconcilable nature of a position taken by an adversary in a case. A founding member of the Board of Directors of the U.S. Chamber Institute for Legal Reform with former U.S. Attorneys General Edwin Meese and Dick Thornburgh, Watkins worked to facilitate tort reform legislation in the United States. Refusing to wither in the face of daunting opposition, Watkins pushed back on behalf of Major League Baseball star Jack Clark when Clark was sued by baseball legend Albert Pujols after asserting the latter used steroids or performance enhancing drugs, publicly challenging the Dominican born to take a lie detector test. In State of Missouri v. James Strughold, Watkins successfully defended a white elementary school principal accused of felonious sexual misconduct involving ten African American third-grade students. The principal was fully acquitted of all charges following two full jury trials. When the Obama mask wearing rodeo clown appeared at a state fair in Missouri and garnered international attention for making racist comments, a school district superintendent announcing the rodeo was erroneously named as the maker of the offending comments. Watkins not only reversed a global media error in attribution, including front page clarification in the Habana, Cuba state owned paper, but he brought to the fore the counterintuitive prioritization by the media of inconsequential minutia while the world erupts around them. In Hammon v. Harris, Watkins garnered the first verdict of its kind against a young female who falsely accused a policeman of engaging in sexual relations and snorting cocaine with a female patron of a restaurant at which the policeman was working a security shift. When the defendant would not appear for her deposition, Watkins procured an order mandating the woman be brought into custody and held in jail pending her deposition. During the ensuing video deposition, Watkins swiftly got the woman to confess and admit the allegations were false. The video deposition swiftly became an internet sensation. A six-figure judgment was entered in favor of the policeman. The woman committed suicide thereafter. Watkins is known for his attention to detail and his intimate familiarity with all aspects of the financial industries. He is engaged to demonstrate his advocacy skills in courtrooms throughout the United States and is called upon to serve as a color commentator on legal issues and cases by national television networks. A radio personality in his own right, Watkins hosts his own nationally syndicated radio vignette, an eight minute show aptly called Watkins Word, in which he waxes poetically about the news and events of the day, employing a decidedly conservative Midwest American mindset, a mindset Watkins refers to as having been born of “rugged individualism.” Watkins sold hot dogs from a cart during his undergraduate studies and proudly proclaims this undertaking “the best job” he ever had. The father of five, Watkins has no time to waste and enjoys the challenges associated with serving and addressing the needs of clients in a punctilious and committed fashion. Watkins does not hold hands well and admits to being incapable of singing “Kumbya”. A cancer survivor since 2003, Watkins is proud that “nothing scares [him] anymore.”'
            }                        
          ]
        }
      }
    });
  </script>
</dom-module>