<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-contact">
    <template>
        <style include="shared-styles iron-flex iron-flex-alignment iron-flex-factors">
            :host {
                display: block;
            }
            
            .main-hero {
                background: black;
                color: white;
                height: 50vh;
            }
            
            .main-hero * {
                width: 70%;
                color: white;
            }
            
            h1 {
                font-size: 4.2em;
                margin-bottom: 0.2em;
                letter-spacing: 4px;
            }
            
            h2 {
                font-size: 1.75em;
                margin: 0;
                line-height: 140%;
            }
            
            p {
                font-size: 1.25em;
                line-height: 140%;
                margin: 0;
            }
            
            hr.dark {
                border-bottom: solid .25px black;
                margin: 2em 0;
            }
            
            hr.light {
                border: solid .25px white;
                margin: 2em 0;
            }
            
            .container {
                min-height: 100vh;
            }
            
            .container * {
                width: 70%;
            }
            
            .about-wrapper p {
                margin-bottom: 1em;
            }
            
            .hero-button {
                width: 25%;
            }
            
            .hero-button paper-button {
                width: 100%;
            }
            
            paper-button.hero-cta-btn {
                width: 25%;
            }
            
            .case-wraper {
                width: 70%;
            }
            
            .case-wrapper .card {
                margin: 2em 0 0 0;
            }
            
            .card.location {
                margin-right: 2em;
            }
            
            .card.location img.map-shot {
                width: 100%;
            }    
            
            .card {
                height: 100%;
            }
            
            .card * {
                width: 100%;
            }
        </style>

        <div class="main-hero flex layout vertical center center-justified">
            <h1 class="heading-serif"><strong>Contact Us</strong></h1>
            <h2 class="sub-heading-serif"><em>Reach out, anytime.</em></h2>
        </div>
        <div class="container case-wrapper flex layout vertical center center-start">
            <div class="layout horizontal wrap justified start-start">

                <div class="card location flex-6">
                    <h3>Our Location</h3>
                    <p>a: 7800 forsyth blvd., saint louis, mo 63105</p>
                    <h4>Directioins</h4>
                    <img class="map-shot" src="../images/map-shot.png">
                    <p>[[attorneyEntry.bio]]</p>
                </div>
                <div class="card flex-3">
                    <h3>Contact Information</h3>
                    <p>p: 314-727-9111</p>
                    <hr>
                    <p>f: 314-727-9110</p>
                    <hr>
                    <p>e: info@kwkwb.com</p>
                </div>
            </div>
        </div>
    </template>

    <script>
    Polymer({
      is: 'my-contact',
    });
  </script>
</dom-module>