<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="my-press">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment iron-flex-factors iron-positioning">
      :host {
        display: block;
      }
      
       .main-hero {
        background: 
             linear-gradient( rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)),
             url('/images/microphones-black-and-white.jpg');
        background-attachment: fixed;
        background-position: center bottom;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vh;
      }
      
      .main-hero * {
        width: 70%;
        color: white;
      }

      .card {
        width: 70%;
      }
      
      h1 {
        font-size: 4.2em;
        margin-bottom: 0.2em;
        letter-spacing: 4px;
      }
      
      h2 {
        font-size: 1.75em;
        margin: 0;
        line-height: 140%;
      }
      
      p {
        font-size: 1.25em;
        line-height: 140%;
        margin: 0;
      }
      
      hr.dark {
        border: solid .25px black;
        margin: 2em 0;
      }
      
      hr.light {
        border: solid .25px white;
        margin: 2em 0;
      }
      
      .container {
        min-height: 100vh;
      }
      
      .container * {
        width: 70%;
      }
      
      .about-wrapper p {
        margin-bottom: 1em;
      }

      p {
        margin-bottom: 1em;
      }
    </style>
    <div class="main-hero flex layout vertical center center-justified">
      <h1 class="heading-serif"><strong>KWK in the Press</strong></h1>      
      <h2 class="sub-heading-serif"><em>Check out our news stories.</em></h2>
    </div>    
      <template is="dom-repeat" items="{{pressEntries}}" as="pressEntry">
        <div class="flex layout vertical center center-center">
          <div class="card">
            <h2>[[pressEntry.title]]</h2>
            <small>[[pressEntry.date]]
            <hr>
            <p>[[pressEntry.url]]</p>
            <p>[[pressEntry.excerpt]]</p>
          </div>
        </div>
      </template>    
  </template>

  <script>
    Polymer({
      is: 'my-press',
      properties: {
        pressEntries: {
          type: Array,
          value: [
            {
              title: 'Counseling student files suit, alleges Webster dismissed him for lacking empathy',
              url: 'http://websterjournal.com/2011/09/01/counseling-student-files-suit-alleges-webster-dismissed-him-for-lacking-empathy/',
              date: 'September 1st, 2011',
              excerpt: 'Former Webster University student David Schwartz has filed a lawsuit against Webster University, seeking up to $1 million in damages after the university dismissed him from the Master of Arts (MA) in Counseling degree program in March 2011. '                 
            },
            {
              title: 'Saint Louis Zoo Unsympathetic to Publicity Stunt for Man Who Lacks Empathy',
              url: 'http://www.riverfronttimes.com/newsblog/2011/09/01/saint-louis-zoo-unsympathetic-to-publicity-stunt-for-man-who-lacks-empathy',
              date: 'Sep 1, 2011',
              excerpt: 'The Saint Louis Zoo has put the kibosh on a publicity stunt that was to be held at noon in front of the polar bear exhibit. '                 
            },
            {
              title: 'Deposition of Woman Who Falsely Accused Cop of Doing Coke, Getting Blowjobs',
              url: 'http://www.riverfronttimes.com/newsblog/2009/06/01/video-deposition-of-woman-who-falsely-accused-cop-of-doing-coke-getting-blowjobs',
              date: 'Jun 1, 2009',
              excerpt: 'The video I posted last week of a woman apologizing for false claims she made against a St. Louis cop got so many YouTube hits that the police officer\'s attorney -- Albert Watkins -- has now released his entire deposition of Cassidy Harris online.'              
            },
            {
              title: 'Albert Pujols\' Attorney to Jack Clark\'s Lawyer: Stop Turning Lawsuit Into "Media Circus"',
              url: 'http://www.riverfronttimes.com/newsblog/2013/10/16/albert-pujols-attorney-to-jack-clarks-lawyer-stop-turning-lawsuit-into-media-circus',
              date: 'Oct 16, 2013',
              excerpt: 'A public spat between the attorneys for Albert Pujols and Jack Clark is becoming more entertaining than the feud between the former Cardinals ballplayers.'              
            },
            { 
              title: 'Missouri State Fair: Boonville School District Backs Superintendent, Announcer Mark Ficken',
              url: 'http://www.riverfronttimes.com/newsblog/2013/08/28/missouri-state-fair-boonville-school-district-backs-superintendent-announcer-mark-ficken',
              date: 'Aug 28, 2013',
              excerpt: ' Mark Ficken, the announcer at the center of the Missouri State Fair rodeo scandal, did nothing wrong during the controversial Obama clown performance.'              
            },            
            { 
              title: 'Missouri State Fair Controversy: Mark Ficken Resigns As Rodeo Cowboy Association President',
              url: 'http://www.riverfronttimes.com/newsblog/2013/08/13/missouri-state-fair-controversy-mark-ficken-resigns-as-rodeo-cowboy-association-president',
              date: 'Aug 13, 2013',
              excerpt: 'Mark Ficken, the announcer caught up in the Missouri State Fair Obama clown scandal this week, has resigned as president of the Missouri Rodeo Cowboy Association.'              
            },
            { 
              title: 'Sgt. Gary Wiegert Tries Again To Lobby For Marijuana Reforms; Will St. Louis PD Allow It?',
              url: 'http://www.riverfronttimes.com/newsblog/2013/06/12/sgt-gary-wiegert-tries-again-to-lobby-for-marijuana-reforms-will-st-louis-pd-allow-it',
              date: 'Jun 12, 2013',
              excerpt: 'Though the city of St. Louis officially adopted a marijuana reform law this month, one local police sergeant has not been able to publicly lobby for the cause.'              
            },
            { 
              title: 'The North Face Asks Federal Judge to Sanction St. Louis-Based Firm, "The Butt Face"',
              url: 'http://www.riverfronttimes.com/newsblog/2012/08/07/the-north-face-asks-federal-judge-to-sanction-st-louis-based-firm-the-butt-face',
              date: 'Aug 7, 2012',
              excerpt: 'The North Face is fed up -- once again -- with St. Louis businessman Jim Winkelmann and his college-age son, Jimmy'              
            },
            { 
              title: 'Mangia Italiano Dismisses "Media Circus" Tactics of Mangia Mobile',
              url: 'http://www.riverfronttimes.com/foodblog/2011/07/28/mangia-italiano-dismisses-media-circus-tactics-of-mangia-mobile',
              date: 'Jul 28, 2011',
              excerpt: 'To Albert S. Watkins, the attorney representing local food truck Mangia Mobile, the only thing more delicious than his client\'s toasted ravioli is a media circus (with him as ringmaster, of course).'              
            },
            { 
              title: 'St. Louis Hairdresser Who Found New Moon Script in Dumpster is Selling Plunder on eBay',
              url: 'http://www.riverfronttimes.com/newsblog/2010/04/09/st-louis-hairdresser-who-found-new-moon-script-in-dumpster-is-selling-plunder-on-ebay',
              date: 'Apr 9, 2010',
              excerpt: 'Remember Casey Ray? The luckiest Dumpster-diver ever? Her story just keeps on going. Sort of like the Twilight saga. Now she\'s auctioning off her autographed New Moon script on eBay.'              
            },
            { 
              title: 'Daily RFT Exclusive: South Butt and North Face Settle in Federal Court',
              url: 'http://www.riverfronttimes.com/newsblog/2010/04/02/daily-rft-exclusive-south-butt-and-north-face-settle-in-federal-court',
              date: 'Apr 2, 2010',
              excerpt: 'he federal civil suit filed by outdoor apparel giant The North Face against a small local parody company called The South Butt has finally concluded.'              
            },
            {
              title: 'South Butt Lawsuit Gets the NPR Treatment, Tune In Tonight to Marketplace',
              url: 'http://www.riverfronttimes.com/newsblog/2010/01/15/south-butt-lawsuit-gets-the-npr-treatment-tune-in-tonight-to-marketplace',
              date: 'Jan 15, 2010',
              excerpt: 'Apparently we were not slipping into the warm embrace of a public-radio-induced coma last night when we heard Marketplace host Kai Ryssdal promo a story on the South Butt lawsuit.'
            },
            {
              title: 'A Conversation With Albert Watkins',
              url : 'https://www.stlmag.com/Q-ampA-Albert-Watkins/',
              date: 'March 26, 2010',
              excerpt: 'When a kid from St. Louis, Jimmy Winkelmann, took on iconic maker of outdoor-adventure apparel The North Face with his parody company, The South Butt (for people who never get off their couch), North Face filed a lawsuit in U.S. District Court.'
            },
            {
              title: 'Albert, Uncanned',
              url : 'https://www.stlmag.com/Albert-Uncanned/',
              date: 'January 23, 2012',
              excerpt: 'Albert Shawe Watkins graduated from Ladue Horton Watkins (no relation) High School with top honors. He was president of his class and captain of the track and cross-country teams. He went off to Europe with his British girlfriend and her parents.'
            },
            {
              title: 'Jack Clark wants double PED polygraph with Albert Pujols',
              url : 'http://nypost.com/2013/10/14/jack-clark-wants-double-ped-polygraph-with-albert-pujols/',
              date: 'October 14, 2013',
              excerpt: 'Clark, the former Cardinal who recently was sued for defamation for accusing Albert Pujols of using steroids, is willing to take a lie-detector test if Pujols does as well, according to the St. Louis Post-Dispatch.'
            },
            {
              title: 'St. Louis officer wants job back as lobbyist for marijuana group',
              url : 'http://www.kansascity.com/news/local/article316035/St.-Louis-officer-wants-job-back-as-lobbyist-for-marijuana-group.html',
              date: 'March 13, 2013 ',
              excerpt: 'ST. LOUIS Police Sgt. Gary Wiegert has spent 32 years enforcing the law in St. Louis. Now that he is a lobbyist for a group that wants to change one of those laws – how small-time marijuana offenders are dealt with.'
            },
            {
              title: 'School official cleared in Obama rodeo clown act at Missouri State Fair',
              url: 'http://www.kansascity.com/news/local/article326203/School-official-cleared-in-Obama-rodeo-clown-act-at-Missouri-State-Fair.html',
              date: 'August 28, 2013',
              excerpt: 'BOONVILLE, MO. A Missouri school official has been cleared of wrongdoing in a State Fair rodeo act that mocked President Barack Obama.'                            
            },
             {
              title: 'North Face, South Butt dispute settled in Mo.',
              url: 'http://old.seattletimes.com/html/businesstechnology/2011570225_apusnorthfacelawsuit.html',
              date: 'April 9, 2010',
              excerpt: 'ST. LOUIS — The North Face Apparel Corp. has settled its lawsuit against The South Butt, a Missouri teenager\'s company that marketed clothing with a not-so-subtle logo and tag line that parodied the outdoor clothing giant.'                            
            },
            {
              title: 'North Face dislikes being Butt of a joke',
              url: 'http://old.seattletimes.com/html/businesstechnology/2010516957_northface16.html',
              date: 'December 16, 2009',
              excerpt: 'The international apparel maker filed a federal lawsuit in St. Louis late last week alleging trademark infringement by The South Butt, a Ladue, Mo.-based company started by a teenager making fun of The North Face name.'                            
            },
            {
              title: 'Superintendent Cleared of Wrong-Doing',
              url: 'http://www.kmzu.com/superintendent-cleared-of-wrong-doing/',
              date: 'August 28, 2013',
              excerpt: 'An area superintendent has been cleared of any wrong-doing related to a rodeo stunt at the Missouri State Fair in early August.'                            
            },
            {
              title: 'Boonville Superintendent to Keep His Job',
              url: 'http://www.komu.com/news/boonville-superintendent-to-keep-his-job/',
              date: 'August 28, 2013',
              excerpt: 'BOONVILLE - The Boonville R-1 School District Board of Education announced a unanimous vote Wednesday to keep Dr. Mark Ficken as its Superintendent of Schools. The vote came after a closed personnel meeting Tuesday night.'                            
            },
            {
              title: 'Rodeo Clown Behind Obama Skit Is Banned From State Fair',
              url: 'http://www.npr.org/sections/thetwo-way/2013/08/13/211602534/rodeo-clown-who-wore-obama-mask-banned-from-state-fair',
              date: 'August 13, 2013',
              excerpt: 'Missouri State Fair officials have now banned the rodeo clown who wore a President Obama mask during was responsible for a performance that mocked President Obama.'                            
            },
            {
              title: 'Missouri State Fair Bans Rodeo Clown Who Mocked Obama',
              url: 'hhttp://www.hollywoodreporter.com/news/missouri-state-fair-bans-rodeo-604505',
              date: 'August 12, 2013',
              excerpt: 'Video of a rodeo clown who mocked President Barack Obama at the Missouri State Fair went viral after hitting the Internet on Monday.'                            
            },
            {
              title: 'Script to \'Twilight\' sequel found in the trash',
              url: 'http://www.washingtonexaminer.com/script-to-twilight-sequel-found-in-the-trash/article/106335',
              date: 'May 11, 2009',
              excerpt: 'ST. LOUIS – A St. Louis beauty salon owner accidentally happened upon one of the hottest Hollywood scripts — the pages from an upcoming "Twilight" sequel — in a trash bin.'                            
            },  
            {
              title: 'Read this: Jack Clark’s lawyer sends scathing letter to Pujols',
              url: 'http://fox2now.com/2013/10/14/read-this-jack-clarks-lawyers-sends-scathing-letter-to-pujols/',
              date: 'October 14, 2013',
              excerpt: 'ST. LOUIS, MO (KTVI) – A letter from Jack Clark’s attorney Al Watkins to Albert Pujols’ legal team is raising some eyebrows and offering some comic relief. '                            
            },
            {
              title: 'Jack Clark challenges Albert Pujols to dueling polygraphs over steroids claims',
              url: 'http://www.stltoday.com/sports/baseball/professional/jack-clark-challenges-albert-pujols-to-dueling-polygraphs-over-steroids/article_3dcc039e-fce6-57ad-96e5-065c724b1e1f.html',
              date: 'Oct 14, 2013',
              excerpt: 'Jack Clark, days after being sued for defamation for accusing Albert Pujols of using steroids, is offering to take a lie-detector test if Pujols does the same.'                            
            },
            {
              title: 'Lincoln County Sheriff faces sexual harassment and assault complaint',
              url: 'http://www.stltoday.com/news/local/crime-and-courts/lincoln-county-sheriff-faces-sexual-harassment-and-assault-complaint/article_49b95c80-fed4-11e1-a028-001a4bcf6878.html',
              date: 'Sep 15, 2012',
              excerpt: 'LINCOLN COUNTY — A female Lincoln Sounty Sheiff\'s Department ddeputy is  accusing the sheriff of sexual harassment and assult, and now the Missouri Highway Patrol is investigating.'                            
            },
            {
              title: 'Daughter of St. Louis police shooting victim files federal suit',
              url: 'http://www.stltoday.com/news/local/crime-and-courts/daughter-of-st-louis-police-shooting-victim-files-federal-suit/article_eebaa122-510e-11e1-931e-001a4bcf6878.html',
              date: 'Feb 6, 2012',
              excerpt: 'ST. LOUIS • The daughter of a man fatally shot by a St. Louis police officer Dec. 20 sued the St. Louis Police Board and the officer Monday, alleging that police shot an unarmed and disabled man.'                            
            },
            {
              title: 'Al Watkins Featured in St. Louis CBS',
              url: 'http://stlouis.cbslocal.com/tag/al-watkins/',
              date: 'December 9, 2016',
              excerpt: ''                            
            },
            {
              title: 'Now THIS Is a Great Settlement Offer Letter',
              url: 'http://abovethelaw.com/2013/10/now-this-is-a-great-settlement-offer-letter/',
              date: 'Oct 15, 2013',
              excerpt: 'It’s so refreshing when the filings and correspondence in celebrity lawsuits live up to personalities involved. So it’s a tremendous joy when a bombastic and confrontational figure has a lawyer willing to colorfully snark up a settlement offer'                            
            },
            {
              title: 'Announcer resigns after clown poses as Obama',
              url: 'http://www.ksdk.com/news/announcer-resigns-after-clown-poses-as-obama/308636625',
              date: 'August 12, 2013',
              excerpt: 'ST. LOUIS (KSDK) - A rodeo announcer at the Missouri State Fair has resigned as president of the Missouri Rodeo Cowboys Association.',
            },
            {
              title : 'With Washington University student\'s death still a mystery, family seeks settlement',
              url: 'http://www.stltoday.com/news/local/education/with-washington-university-student-s-death-still-a-mystery-family/article_02aefac3-136d-5075-bee8-f614fe0b95fe.html',
              date: 'Nov 10, 2014',
              excerpt: 'Almost immediately after Washington University student Yongsang Soh tumbled from a 23rd floor balcony and died, his death was pronounced a suicide.',
            },
            {
              title : 'Short take: The other Albert strikes again',
              url: 'http://www.stltoday.com/news/opinion/columns/the-platform/short-take-the-other-albert-strikes-again/article_fa8ac57a-585a-5038-ac38-b14fcafb3787.html',
              date: 'Dec 24, 2011',
              excerpt: 'Whenever you see St. Louis lawyer Albert Watkins\' name attached to a news story, you know some strange new frontier in legal history could be explored.',
            },
            {
              title : 'Jack Clark Challenges Albert Pujols To Dual Lie-Detector Tests Over Steroid Allegations In Lawyer Letter',
              url: 'http://www.ibtimes.com/jack-clark-challenges-albert-pujols-dual-lie-detector-tests-over-steroid-allegations-lawyer-letter',
              date: 'October 14, 2013',
              excerpt: 'Just weeks after Albert Pujols announced that he would sue Jack Clark for defamation, the former St. Louis Cardinals player and radio host offered to take a lie detector test -- so long as Pujols agreed to do the same.',
            }                                                                                                          
          ]                      
        }
      }
    });
  </script>
</dom-module>