<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700|Source+Serif+Pro:400,700');

      .heading-serif-caps{
        font-family: 'Source Serif Pro';
        font-weight: 700;
        text-transform: uppercase;
      }

      .sub-heading-serif {
        font-family: 'Source Serif Pro';
        font-weight: 300;
        letter-spacing: 0;
      }

      .caption-serif {
        font-family: 'Source Serif Pro';
        font-weight: 500;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: 18px;
        margin: 0;        
      }

      .heading-serif{
        font-family: 'Source Serif Pro';
        font-weight: 700;
        letter-spacing: 0;
      }

      .body-sans-bold{
        font-family: 'Source Sans Pro';
        font-weight: 700;
      }

      .body-sans{
        font-family: 'Source Sans Pro';
        font-weight: 400;
      }

      .sans {
        font-family: 'Source Sans Pro'
      }

      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
    </style>
  </template>
</dom-module>
